.nvimlog
*~
obj/*
*profiling*
tags
.vim-bookmarks
*.zip
*.log
*.out
session.vim
Session.vim
game.love
*.apk
*.aab
scenes/*
map*txt

nback3.release/MessagePack.lua
nback3.filelist.txt
nback3.release.zip.bak
